@media (max-width: 600px) {
    .rev {
        position: relative;
        bottom: 10px;
        right: 5px;
        width: 100%;
        max-width: 100%;
    }
}


.gigante{
     font-size: 72px
}
